<!--
  Generated template for the TambahUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tambahUser</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col>
            <!--<div><img src="../assets/imgs/user.png" alt="user" style="width:100%"></div>-->
            <div>
              <img src="captureDataUrl" *ngIf="captureDataUrl" alt="user" style="width:100%">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-list>
              <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Kata Sandi</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>  
            </ion-list>
          </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label stacked>Nama</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </div>
            <div>
                <ion-item>
                  <ion-label stacked>Prodi</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </div>
              <div>
                  <ion-item>
                    <ion-label stacked>Jenis Kelamin</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </div>
                <br>
                <div> 
                    <button ion-button full color="secondary" (click)="selectImage()" *ngIf="captureDataUrl">Choose Image</button>
                    <button ion-button full color="secondary" (click)="addProfile()">
                      <ion-icon name='md-create'></ion-icon>
                      Simpan Profil
                    </button>
                  </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
