<ion-menu [content]="sideSignContent">
    <ion-header>
        <ion-toolbar text-center>
            <h2 *ngIf="flagAdmin==true">Menu<img src="../assets/imgs/logo2.png" alt="logo_medic" width="10%"></h2>
            <img *ngIf="flagAdmin==false" src="../assets/imgs/logo2.png" alt="logo_medic" width="30%">
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <!-- <button *ngIf="flag==false" ion-item (click)="onLoad(loginPage)">
                <ion-icon name="log-in" item-left></ion-icon>
                Login
            </button> -->
            <button *ngIf="flag==true" ion-item (click)="profilUser()" menuClose>
                <ion-icon name="md-contact" item-left></ion-icon>
                Profil
            </button>
            <button *ngIf="flagAdmin==true" ion-item (click)="addUser()" menuClose>
                <ion-icon name="people" item-left></ion-icon>
                Tambah Pengguna
            </button>
            <button *ngIf="flag==true" ion-item (click)="logout()" menuClose>
                <ion-icon name="log-out" item-left></ion-icon>
                Logout
            </button>
            <!-- <button *ngIf="flagAdmin==true" ion-item (click)="tambahuserr()">
                <ion-icon name="people" item-left></ion-icon>
                Tambah Pengguna
            </button> -->
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="loginPage" #sideSignContent></ion-nav>
